@font-face {
    font-family: 'Centra No2';
    src: url('CentraNo2-Bold.woff2') format('woff2'),
        url('CentraNo2-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Centra No2';
    src: url('CentraNo2-ExtraboldItalic.woff2') format('woff2'),
        url('CentraNo2-ExtraboldItalic.woff') format('woff');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Centra No2';
    src: url('CentraNo2-Medium.woff2') format('woff2'),
        url('CentraNo2-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Centra No2';
    src: url('CentraNo2-Black.woff2') format('woff2'),
        url('CentraNo2-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Centra No2';
    src: url('CentraNo2-BoldItalic.woff2') format('woff2'),
        url('CentraNo2-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Centra No2 Hairline';
    src: url('CentraNo2-HairlineItalic.woff2') format('woff2'),
        url('CentraNo2-HairlineItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Centra No2';
    src: url('CentraNo2-Light.woff2') format('woff2'),
        url('CentraNo2-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Centra No2 Hairline';
    src: url('CentraNo2-Hairline.woff2') format('woff2'),
        url('CentraNo2-Hairline.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Centra No2';
    src: url('CentraNo2-Book.woff2') format('woff2'),
        url('CentraNo2-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Centra No2';
    src: url('CentraNo2-MediumItalic.woff2') format('woff2'),
        url('CentraNo2-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Centra No2';
    src: url('CentraNo2-BlackItalic.woff2') format('woff2'),
        url('CentraNo2-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Centra No2';
    src: url('CentraNo2-ThinItalic.woff2') format('woff2'),
        url('CentraNo2-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Centra No2';
    src: url('CentraNo2-Thin.woff2') format('woff2'),
        url('CentraNo2-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Centra No2';
    src: url('CentraNo2-LightItalic.woff2') format('woff2'),
        url('CentraNo2-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Centra No2';
    src: url('CentraNo2-BookItalic.woff2') format('woff2'),
        url('CentraNo2-BookItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Centra No2';
    src: url('CentraNo2-Extrabold.woff2') format('woff2'),
        url('CentraNo2-Extrabold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Centra No2';
    src: url('CentraNo2-Light.woff2') format('woff2'),
        url('CentraNo2-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Centra No2';
    src: url('CentraNo2-Thin.woff2') format('woff2'),
        url('CentraNo2-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Centra No2';
    src: url('CentraNo2-BoldItalic.woff2') format('woff2'),
        url('CentraNo2-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Centra No2';
    src: url('CentraNo2-Medium.woff2') format('woff2'),
        url('CentraNo2-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Centra No2';
    src: url('CentraNo2-Bold.woff2') format('woff2'),
        url('CentraNo2-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Centra No2';
    src: url('CentraNo2-Book.woff2') format('woff2'),
        url('CentraNo2-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Centra No2';
    src: url('CentraNo2-LightItalic.woff2') format('woff2'),
        url('CentraNo2-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Centra No2 Hairline';
    src: url('CentraNo2-Hairline.woff2') format('woff2'),
        url('CentraNo2-Hairline.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Centra No2';
    src: url('CentraNo2-ThinItalic.woff2') format('woff2'),
        url('CentraNo2-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Centra No2';
    src: url('CentraNo2-Extrabold.woff2') format('woff2'),
        url('CentraNo2-Extrabold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Centra No2';
    src: url('CentraNo2-ExtraboldItalic.woff2') format('woff2'),
        url('CentraNo2-ExtraboldItalic.woff') format('woff');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Centra No2';
    src: url('CentraNo2-Black.woff2') format('woff2'),
        url('CentraNo2-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Centra No2 Hairline';
    src: url('CentraNo2-HairlineItalic.woff2') format('woff2'),
        url('CentraNo2-HairlineItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Centra No2';
    src: url('CentraNo2-BlackItalic.woff2') format('woff2'),
        url('CentraNo2-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Centra No2';
    src: url('CentraNo2-MediumItalic.woff2') format('woff2'),
        url('CentraNo2-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Centra No2';
    src: url('CentraNo2-BookItalic.woff2') format('woff2'),
        url('CentraNo2-BookItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

